Repository Ahmedtahoon2/my-portofolio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write, prettier --write

refactor: fixing style issues
  src/app/layout.tsx
  src/app/not-found.tsx
  src/app/robots.ts
  src/components/molecules/Footer.tsx
  src/components/molecules/Header.tsx
  src/styles/core.css
Due: eslint --fix, prettier --check --write, prettier --write

Revert "refactor: fixing style issues"
  src/app/layout.tsx
  src/app/not-found.tsx
  src/app/robots.ts
  src/components/molecules/Footer.tsx
  src/components/molecules/Header.tsx
  src/styles/core.css
Due: eslint --fix, prettier --check --write, prettier --write

feat: improve seo & change design
  .gitignore
  public/images/logo/logo-black.png
  public/images/logo/logo-white.png
  src/app/api/og/route.tsx
  src/app/apple-icon.png
  src/app/favicon.ico
  src/app/images/android-chrome-192x192.png
  src/app/images/android-chrome-512x512.png
  src/app/images/android-chrome-maskable-192x192.png
  src/app/images/android-chrome-maskable-512x512.png
  src/app/images/apple-touch-icon.png
  src/app/layout.tsx
  src/components/atoms/Icons.tsx
  src/components/atoms/Logo.tsx
  src/components/atoms/MainNav.tsx
  src/components/atoms/MobileNav.tsx
  src/components/atoms/ModeToggle.tsx
  src/components/atoms/PostItem.tsx
  src/components/mdx/Pre.tsx
  src/components/molecules/Header.tsx
  src/components/molecules/MdxComponent.tsx
  src/hooks/useKnowTheme.ts
  src/plugins/remark-img-to-jsx.ts
  src/plugins/shadcn-plugin.ts
  src/styles/core.css
  src/styles/mdx.css
  velite.config.ts
Due: eslint --fix, prettier --check --write, prettier --write

refactor: change architecture
  src/components/mdx/Image.tsx
  src/components/mdx/Pre.tsx
  src/components/mdx/components.tsx
  src/hooks/mdx.ts
  src/plugins/mdx/index.ts
  src/plugins/mdx/rehype-toc-plugin.ts
  src/plugins/mdx/remark-img-to-jsx.ts
  src/plugins/mdx/remark-internal-link-to-jsx.ts
  velite.config.ts
Due: eslint --fix, prettier --check --write

feat: adding mdx features
  .eslintrc
  content/blog/code-block.mdx
  content/blog/mdxtest.mdx
  content/blog/post-2.mdx
  content/blog/test.mdx
  package-lock.json
  package.json
  src/components/mdx/Callout.tsx
  src/components/mdx/FileTree.tsx
  src/components/mdx/Pre.tsx
  src/components/mdx/Tabs.tsx
  src/components/mdx/components.tsx
  src/hooks/useKnowTheme.ts
  src/plugins/mdx/index.ts
  src/plugins/mdx/remark-custom-heading-id.ts
  src/plugins/mdx/remark-img-to-jsx.ts
  src/plugins/mdx/remark-internal-link-to-jsx.ts
  src/plugins/shadcn-plugin.ts
  src/styles/core.css
  src/styles/mdx.css
  velite.config.ts
Due: eslint --fix, prettier --check --write, prettier --write

feat: adding design improvements
  .vscode/settings.json
  content/blog/guide-to-using-images-in-nextjs.mdx
  content/blog/post-1.mdx
  knip.json
  package-lock.json
  package.json
  src/app/blog/[...slug]/page.tsx
  src/components/atoms/Link.tsx
  src/components/atoms/Logo.tsx
  src/components/atoms/MainNav.tsx
  src/components/atoms/PostItem.tsx
  src/components/atoms/QueryPagination.tsx
  src/components/mdx/Blockquote.tsx
  src/components/mdx/Callout.tsx
  src/components/mdx/Code.tsx
  src/components/mdx/FileTree.tsx
  src/components/mdx/Image.tsx
  src/components/mdx/Tabs.tsx
  src/components/mdx/components.tsx
  src/components/molecules/Header.tsx
  src/plugins/mdx/index.ts
  src/plugins/mdx/remark-image/convertToWebP.ts
  src/plugins/mdx/remark-image/defaults.ts
  src/plugins/mdx/remark-image/enhanceSecurity.ts
  src/plugins/mdx/remark-image/generateSrcSet.ts
  src/plugins/mdx/remark-image/getWebPBuffer.ts
  src/plugins/mdx/remark-image/imageBlur.ts
  src/plugins/mdx/remark-image/imageBuffer.ts
  src/plugins/mdx/remark-image/imageDimensions.ts
  src/plugins/mdx/remark-image/imageProcess.ts
  src/plugins/mdx/remark-image/index.ts
  src/plugins/mdx/remark-image/types.ts
  src/plugins/mdx/remark-image/utils.ts
  src/plugins/mdx/remark-img-to-jsx.ts
  src/plugins/shadcn-plugin.ts
  src/styles/mdx.css
  velite.config.ts
Due: eslint --fix, prettier --check --write, prettier --write

feat: change style & improve image plugin
  .vscode/settings.json
  content/blog/code-block.mdx
  package-lock.json
  package.json
  src/app/layout.tsx
  src/app/page.tsx
  src/components/atoms/Logo.tsx
  src/components/magicui/retro-grid.tsx
  src/components/magicui/sparkles-text.tsx
  src/components/mdx/Code.tsx
  src/components/mdx/Pre.tsx
  src/components/molecules/Header.tsx
  src/plugins/mdx/remark-image/convertToWebP.ts
  src/plugins/mdx/remark-image/defaults.ts
  src/plugins/mdx/remark-image/generateSrcSet.ts
  src/plugins/mdx/remark-image/getImageBuffer.ts
  src/plugins/mdx/remark-image/getWebPBuffer.ts
  src/plugins/mdx/remark-image/imageBlur.ts
  src/plugins/mdx/remark-image/imageDimensions.ts
  src/plugins/mdx/remark-image/imageProcess.ts
  src/plugins/shadcn-plugin.ts
  src/styles/core.css
  src/styles/mdx.css
  tailwind.config.ts
Due: eslint --fix, prettier --check --write, prettier --write

0.5.0
  package-lock.json
  package.json
Due: prettier --check --write

feat: adding JsDoc & change styles
  .eslintrc
  content/blog/code-block.mdx
  content/blog/mdxtest.mdx
  knip.json
  next.config.mjs
  package-lock.json
  package.json
  src/app/globals.css
  src/app/layout.tsx
  src/components/mdx/Code.tsx
  src/lib/calcReadingTime.ts
  src/lib/copyToClipboard.ts
  src/lib/formatDate.ts
  src/lib/sortPosts.ts
  src/lib/tagUtils.ts
  src/plugins/mdx/rehype-toc-plugin.ts
  src/plugins/mdx/remark-custom-heading-id.ts
  src/plugins/mdx/remark-image/index.ts
  src/plugins/mdx/remark-internal-link-to-jsx.ts
  src/plugins/shadcn-plugin.ts
  src/plugins/typography-preset.ts
  src/styles/core.css
  src/styles/mdx.css
  tsconfig.json
  velite.config.ts
Due: eslint --fix, prettier --check --write, prettier --write

fix: fixing styles issues
  .prettierrc
  content/posts/code-block.mdx
  content/posts/mdxtest.mdx
  package-lock.json
  package.json
  src/styles/mdx.css
Due: eslint --fix, prettier --check --write, prettier --write

feat: add share btns & fix style
  .env
  .vscode/settings.json
  package-lock.json
  package.json
  src/app/posts/[...slug]/page.tsx
  src/components/atoms/Icons.tsx
  src/components/atoms/Logo.tsx
  src/components/atoms/ScrollBtn.tsx
  src/components/atoms/ShareBtns.tsx
  src/components/mdx/Pre.tsx
  src/config/site.ts
  src/hooks/useKnowTheme.ts
  src/lib/convertToHashtag.ts
  src/styles/core.css
  src/styles/mdx.css
  tailwind.config.ts
Due: eslint --fix, prettier --check --write, prettier --write

feat: adding post features
  .gitignore
  content/posts/assets/1800x1000.svg
  content/posts/code-block.mdx
  content/posts/disappearing-props.mdx
  content/posts/guide-to-using-images-in-nextjs.mdx
  content/posts/mdxtest.mdx
  content/posts/post-1.mdx
  content/posts/post-2.mdx
  content/posts/react-hooks.mdx
  content/posts/test.mdx
  package-lock.json
  src/app/api/rss.xml/route.tsx
  src/app/posts/[...slug]/loading.tsx
  src/app/posts/[...slug]/page.tsx
  src/components/atoms/ShareBtns.tsx
  src/components/atoms/postPicture.tsx
  src/components/molecules/Footer.tsx
  velite.config.ts
Due: eslint --fix, prettier --check --write

fix: responsive issues
  src/app/page.tsx
  src/app/posts/[...slug]/page.tsx
  src/components/atoms/HeaderLinks.tsx
  src/components/atoms/MobileNav.tsx
  src/components/atoms/postPicture.tsx
  src/components/molecules/Footer.tsx
  src/styles/mdx.css
Due: eslint --fix, prettier --check --write, prettier --write

0.6.0
  package-lock.json
  package.json
Due: prettier --check --write

feat: enhance posts page
  .env
  .vscode/settings.json
  package-lock.json
  package.json
  public/icons/android-chrome-192x192.png
  public/icons/android-chrome-512x512.png
  public/icons/apple-touch-icon.png
  public/icons/favicon-16x16.png
  public/icons/favicon-32x32.png
  public/images/logo/logo-black.png
  public/images/logo/logo-white.png
  src/app/api/og/route.tsx
  src/app/layout.tsx
  src/app/manifest.ts
  src/app/page.tsx
  src/app/posts/[...slug]/page.tsx
  src/app/posts/page.tsx
  src/app/seo/android-chrome-maskable-192x192.png
  src/app/seo/android-chrome-maskable-512x512.png
  src/components/atoms/MainNav.tsx
  src/components/atoms/PostItem.tsx
  src/components/atoms/TagsSearch.tsx
  src/components/ui/command.tsx
  src/components/ui/dialog.tsx
  src/components/ui/popover.tsx
  src/config/blog.ts
  src/config/site.ts
  src/hooks/useBlogPagination.ts
  src/lib/rss.ts
  tailwind.config.ts
Due: eslint --fix, prettier --check --write

feat: adding projects and iframes
  .vscode/settings.json
  content/posts/mdxtest.mdx
  content/posts/post-2.mdx
  content/projects/1.mdx
  content/projects/assets/sonicrypt/sonicrypt.png
  content/projects/sonicrypt.mdx
  package-lock.json
  package.json
  src/app/layout.tsx
  src/app/not-found.tsx
  src/app/posts/[...slug]/page.tsx
  src/app/posts/page.tsx
  src/app/projects/[...slug]/page.tsx
  src/app/projects/page.tsx
  src/app/tags/[tag]/page.tsx
  src/app/tags/page.tsx
  src/components/atoms/Picture.tsx
  src/components/atoms/PostItem.tsx
  src/components/atoms/ProjectItem.tsx
  src/components/atoms/Tag.tsx
  src/components/mdx/Callout.tsx
  src/components/molecules/ShareBtns.tsx
  src/lib/tagUtils.ts
  src/plugins/mdx/index.ts
  src/plugins/mdx/remark-embedder/cache.ts
  src/plugins/mdx/remark-embedder/core.ts
  src/plugins/mdx/remark-embedder/index.ts
  src/plugins/mdx/remark-embedder/transformer-oembed.ts
  src/styles/mdx.css
  velite.config.ts
Due: eslint --fix, prettier --check --write, prettier --write

feat: complete projects page & change style
  .vscode/settings.json
  content/posts/assets/880x500.svg
  content/posts/mdxtest.mdx
  content/projects/1.mdx
  content/projects/sonicrypt.mdx
  package-lock.json
  package.json
  src/app/layout.tsx
  src/app/posts/[...slug]/loading.tsx
  src/app/posts/[...slug]/page.tsx
  src/app/posts/page.tsx
  src/app/projects/[...slug]/page.tsx
  src/app/projects/page.tsx
  src/components/atoms/Icons.tsx
  src/components/atoms/MainNav.tsx
  src/components/atoms/MobileNav.tsx
  src/components/atoms/Picture.tsx
  src/components/atoms/PostItem.tsx
  src/components/atoms/ProjectItem.tsx
  src/components/atoms/ScrollBtn.tsx
  src/components/mdx/Pre.tsx
  src/components/mdx/VideoPlayer.tsx
  src/components/mdx/components.tsx
  src/components/molecules/Footer.tsx
  src/components/molecules/Header.tsx
  src/components/ui/command.tsx
  src/components/ui/dialog.tsx
  src/components/ui/popover.tsx
  src/hooks/usePostsPagination.ts
  src/hooks/useProjectsPagination.ts
  src/lib/convertToHashtag.ts
  src/lib/sortItems.ts
  src/lib/sortPosts.ts
  src/lib/tagUtils.ts
  src/plugins/mdx/index.ts
  src/plugins/mdx/remark-embedder/core.ts
  src/plugins/mdx/remark-embedder/index.ts
  src/styles/mdx.css
  tailwind.config.ts
Due: eslint --fix, prettier --check --write, prettier --write

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --check --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx}) or (any of: **/*.{json,yml})
  prettier --write: any of: **/*.css
